.List {
    padding: var(--padding);
    background-color: var(--color-2);
    font: var(--serif-font);
  }

.Families {
    padding: var(--padding);
    background-color: var(--color-2);
    font: var(--serif-font);
  }

  .FamilyList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    margin: 20px;
  }

.Family {
    padding: var(--padding);
    background-color: var(--color-4);
    font: var(--serif-font);
    color: white;
  }

  .DeleteButton {
    background-color: var(--color-4);
    font: var(--serif-font);
    color: white;
  }

  .FormButton {
    padding: 10px 15px;
    background: var(--color-2);
    border: 1px solid var(--header-color);
    cursor: pointer;
  }

  .Bunny {
    color: black;
  }

  .bunnyname {
    font-size: 10px;
  }