.List {
    padding: var(--padding);
    background-color: var(--color-2);
    font: var(--serif-font);
  }

.Families {
    padding: var(--padding);
    background-color: var(--color-2);
    font: var(--serif-font);
  }

.FamilyList {
    padding: var(--padding);
    background-color: var(--color-2);
    font: var(--serif-font);
    button {
      margin: 10px;
    }
  }

.Family {
    padding: var(--padding);
    background-color: var(--color-2);
    font: var(--serif-font);
  }