
  
  :root {
    --primary-font: 'Poppins', 'Segoe UI', Candara,
    'Bitstream Vera Sans', 'DejaVu Sans',
    'Bitstream Vera Sans', 'Trebuchet MS', Verdana,
    'Verdana Ref', sans-serif;
    
    --serif-font: 'Uchen', serif;

    --header-color: #dda15e;
    --color-2: #fefae0;
    --offset-color: #bc6c25;
    --color-4: #606c38;
    --background-color: #f9f2e7;
    --black-color: rgb(27, 42, 48);
    --caption-color: rgb(65, 99, 112);
    --white-color: #edf6f9;
    --padding-browser: 40px;
  
    --padding: 20px;
    @media (min-width: 750px) {
      --padding: 40px;
    }
  }

  body {
    height: 100vh;
    font-family: var(--primary-font);
    background: var(--background-color);
    color: var(--black-color);
  }
  
  * {
    box-sizing: border-box;
  }
  

  :global(.label-text) {
    font-family: var(--serif-font);
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }